
@font-face {
    font-family: 'font-bold';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/quicksand-bold.woff2") format('woff2');
}

@font-face {
    font-family: 'main-font';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/quicksand.woff2") format('woff2');
}
